/* font-Name */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.tittle-class 
{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    max-height: 151px;
    margin-top: 0px;
    align-items: center;
    
} 
.banner-tittle
{
    background-image: url(/assighment-1st/Assets/Hero-bg.png);
    
}

.banner-subtittle
{
    margin-top: 158px;
    text-align: center;
    max-width: 905px;
    height: 237px;
    gap: 37px;
    margin: 158px 200px;

}
.header-p
{
    font-weight: bold;
    font-size: 65px;
    height: 152px;
    text-align: center;
    color: #252432;
    
}
.secondary-bg
{
    background-color: #FFFFFF;
}
.logo-cl
{
    color: #4E47FF;
    font-size: 34px;
    font-weight: bold;

}
.button-hover-class
{
    cursor: pointer;
    border:none;
}
.button-hover-class:hover
{
    background-color: #FFFFFF;
}
.btn-primary
{
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    height: 48px;
    width: 132px;
    gap: 10px;
    padding: 12px 36px;
    border: none;
}
.btn-primary2
{
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    width: 174px;
    height: 48px;
    gap: 16px;
    margin-top: 37px;
    border: none; 
}
.btn-3rd
{
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 12px  36px;
    font-size: 16px;
    border: none;
}

.btn-4th
{
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 12px  36px;
    font-size: 16px;
    border: none;
    width: 100%;
}

.action-tittle
{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}
.ac-tittle-description
{
    color:rgba(0, 0, 0, 0.504);
    font-size: 24px;
    width: 517px;
    
}
.wc-mini-png{
    border-radius: 48px;
    max-width: 403px;
    height: 328px;
}
.action-container
{
    display: flex;
    gap: auto;
    width: 1140px;
    height: 328px;
    justify-content: space-between;
    align-items: center;
    margin-left: 141px;
    margin-top: 300px;
}

.productive-container
{

    max-width: 1140px;
    text-align: center;
    gap: 10px;
    background-color: #4d47ff4a;
    margin: 306px 200px;
    border-radius: 24px;
    box-shadow: 10px 10px 30px ;

}
.sub-container
{
    padding: 50px 80px;
}
.sub-tittle
{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}
.p-description
{
    display: flex;
    justify-content: space-around;
    gap: 158px;
}
.p-d-tittle
{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    
}
.d-content
{
    font-size: 20px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.504);
}
.review-description
{
    width: 366.67px;
    height: 243px;
    padding: 24px 24px;
    gap: 24px;
}
.description-comnt
{
    width: 266.67px;
    height: 81px;
    color: rgba(0, 0, 0, 0.504);
}
.developer-review
{
    display: flex;
}
.review-section
{
    width: 266.67px;
    height: 46px;
    display: flex;
    /* text-align: center; */

    
}
.review-tittle
{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}
.review-container
{
    height: 385px;
    width: 1140px;
    margin: 50px 200px;
    display: flex;
    justify-content: space-around;
}
.form-container1
{
  border: none;
  outline: none;
  box-shadow: none;

}
.font-tittle
{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
.font-tittle-p
{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.504);
    text-align: center;
}

.img-class
{
    margin: 80px 280px ;
    border-radius: 48px;
}
.button-class
{
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 12px  36px;
    font-size: 16px;
    border: none;

}
.center-c
{
    text-align: center;
}
.newsletter
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: auto;
    max-width: 1140px;
    height: 632px;
}
.news-tittle
{
    
    font-size: 97px;
    font-weight: bold;
    align-content: center;
    max-width: 528px;
    height: 232px;
    margin-left: 250px;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.logo-size{
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}
.footer-container
{
    text-align: center;
    align-items: center;
    margin-bottom: 200px;
}
.footertittle
{
    justify-content: center;
    margin-left: 350px;

}
.footer-descrioption
{
    max-width: 531px;
    margin-top: 8px;
    margin-left: 100px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.504);
    
}
.row-size
{
    width:100%;
    height: 40px;
    border: #FFFFFF;
}
.row-size1
{
    border:1px solid #ffffff4b;
    margin-left: 5px;
}
.row-size3
{
    width:100%;
    height: 100px;
    border: #FFFFFF;
}
.footer-part
{
    display: flex;
    justify-content: space-around;
    max-width: 401px;
    max-height: 24px;
    margin-left: 450px;
    color: rgba(0, 0, 0, 0.504);

}
.news-column
{
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  width: 497px;
  background-color: #FFFFFF;
}
label {
  font-weight: 600;
  font-size: 14px;
}
ul li
{
    list-style: none;
}
ul li a
{
    text-decoration: none;
    text-decoration-color: none;
}
textarea {
  resize: vertical;
  height: 120px;
  width: 100%;
}

